Repository open-edge-platform/edge-node-agents, pull requests merged in 2025-06, with the labels that each got.

#106 chore: add secret for teams notification
  .github/workflows/post-merge.yml
Labels: CI 🤖

#110 Update agent versions
  cluster-agent/VERSION
  hardware-discovery-agent/VERSION
  platform-telemetry-agent/VERSION
  platform-update-agent/VERSION
Labels: cluster-agent, hardware-discovery-agent, platform-telemetry-agent, platform-update-agent

#111 fix: Update version checks for post merge PR creation
  .github/workflows/post-merge.yml
Labels: CI 🤖

#115 Release ena-manifest v1.1.5
  ena-manifest.yaml
Labels: root

#116 Move people from o11y team do global CODEOWNERS
  .github/CODEOWNERS
Labels: CI 🤖

#120 fix: set auth for git commands
  .github/workflows/post-merge.yml
Labels: CI 🤖

#121 Update HDA aa profile for GPU on NUC
  CHANGELOG.md
  hardware-discovery-agent/config/apparmor.d/opt.edge-node.bin.hd-agent
Labels: root, hardware-discovery-agent

#122 common: Address new linter findings
  common/.golangci.yml
  common/Makefile
  common/VERSION
  common/pkg/logger/logger.go
  common/pkg/logger/logger_test.go
  common/pkg/metrics/metrics.go
  common/pkg/metrics/metrics_test.go
  common/pkg/protovalidator/validator.go
  common/pkg/protovalidator/validator_test.go
  common/pkg/status-server-mock/ss-mock.go
  common/pkg/status/status.go
  common/pkg/status/status_test.go
  common/pkg/testutils/certs.go
  common/pkg/utils/auth.go
  common/pkg/utils/auth_test.go
  common/pkg/utils/links.go
  common/pkg/utils/links_test.go
  common/pkg/utils/validate.go
  common/pkg/utils/validate_test.go
Labels: common

#124 "Move" `utils` and `testutils` from `reporting-agent` to `common`
  common/VERSION
  common/pkg/testutils/testutils.go
  common/pkg/testutils/testutils_test.go
  common/pkg/utils/command.go
  common/pkg/utils/command_test.go
  common/pkg/utils/convert.go
  common/pkg/utils/convert_test.go
  common/pkg/utils/file.go
  common/pkg/utils/file_test.go
  common/pkg/utils/links_test.go
  common/pkg/utils/string.go
  common/pkg/utils/string_test.go
Labels: common

#130 Add sudoers file
  reporting-agent/.reuse/dep5
  reporting-agent/Makefile
  reporting-agent/VERSION
  reporting-agent/cmd/reporting-agent.go
  reporting-agent/config/reporting-agent.yaml
  reporting-agent/config/sudoers.d/reporting-agent
  reporting-agent/internal/collector.go
  reporting-agent/internal/collector_test.go
  reporting-agent/internal/config/config.go
  reporting-agent/internal/config/config_test.go
  reporting-agent/internal/k8s/k8s.go
  reporting-agent/internal/k8s/k8s_test.go
  reporting-agent/internal/sender.go
  reporting-agent/internal/sender_test.go
Labels: reporting-agent

#132 Fuzz tests added
  common/ci_scripts/fuzz_test.sh
  reporting-agent/Makefile
  reporting-agent/VERSION
  reporting-agent/cmd/reporting-agent.go
  reporting-agent/internal/collector/collector.go
  reporting-agent/internal/collector/collector_test.go
  reporting-agent/internal/config/config_test.go
  reporting-agent/internal/k8s/k8s_test.go
  reporting-agent/internal/sender/sender.go
  reporting-agent/internal/sender/sender_test.go
Labels: common, reporting-agent

#147 Update cluster-agent versions
  cluster-agent/VERSION
Labels: cluster-agent
