Repository open-edge-platform/edge-node-agents, pull requests merged in 2025-05, with the labels that each got.

#48 fix: Add dependencies between observability services (#22)
  CHANGELOG.md
  CONTRIBUTORS.md
  ena-manifest.yaml
  platform-observability-agent/Makefile
  platform-observability-agent/VERSION
  platform-observability-agent/configs/apparmor.d/opt.fluent-bit.bin.fluent-bit
  platform-observability-agent/configs/apparmor.d/opt.health-check.bin.fluent-bit
  platform-observability-agent/configs/apparmor.d/opt.otelcol.bin.otelcol
  platform-observability-agent/configs/apparmor.d/opt.telegraf.bin.telegraf
  platform-observability-agent/configs/platform-observability-collector
  platform-observability-agent/configs/platform-observability-health-check
  platform-observability-agent/configs/platform-observability-logging
  platform-observability-agent/configs/platform-observability-metrics
  platform-observability-agent/debian/install
  platform-observability-agent/debian/platform-observability-agent.platform-observability-collector.service
  platform-observability-agent/debian/platform-observability-agent.platform-observability-health-check.service
  platform-observability-agent/debian/platform-observability-agent.platform-observability-logging.service
  platform-observability-agent/debian/platform-observability-agent.platform-observability-metrics.service
  platform-observability-agent/debian/postinst
Labels: CI 🤖, root, platform-observability-agent, 3.0.1

#50 Update post-merge-workflow.yml
  .github/workflows/post-merge-workflow.yml
Labels: CI 🤖

#52 fix: update version tagging
  .github/workflows/post-merge-workflow.yml
Labels: CI 🤖

#53 chore: clean up spacing in Makefile
  platform-observability-agent/Makefile
Labels: platform-observability-agent

#45 Fix readiness reporting to NA during cluster install (#34)
  CHANGELOG.md
  cluster-agent/VERSION
  cluster-agent/cmd/cluster-agent/cluster-agent.go
  cluster-agent/cmd/cluster-agent/cluster-agent_test.go
  ena-manifest.yaml
Labels: root, cluster-agent

#46 Update release service token handling for anonymous (#35)
  CHANGELOG.md
  ena-manifest.yaml
  node-agent/VERSION
  node-agent/internal/comms/comms.go
  node-agent/internal/comms/comms_test.go
Labels: root, node-agent

#54 License and openSSF badge
  README.md
Labels: root

#56 chore: make inbdownload part of make package
  platform-update-agent/Makefile
Labels: platform-update-agent

#49 fix: Update file ownership settings
  platform-observability-agent/debian/postinst
Labels: platform-observability-agent

#51 fix: GPU device detection when vendor info is missing
  hardware-discovery-agent/internal/gpu/gpu.go
  hardware-discovery-agent/internal/gpu/gpu_test.go
  hardware-discovery-agent/test/data/mock_gpu_empty_description.txt
  hardware-discovery-agent/test/data/mock_gpu_empty_features.txt
  hardware-discovery-agent/test/data/mock_gpu_empty_pci_info.txt
  hardware-discovery-agent/test/data/mock_gpu_empty_product.txt
  hardware-discovery-agent/test/data/mock_gpu_empty_vendor.txt
  hardware-discovery-agent/test/data/mock_gpu_no_name.txt
Labels: hardware-discovery-agent

#57 chore: Add contributor
  .github/CODEOWNERS
  CONTRIBUTORS.md
Labels: CI 🤖, root

#59 Fixing permissions to increment the openSSF scorecard
  .github/workflows/auto-add-labels.yml
  .github/workflows/auto-close.yml
  .github/workflows/auto-update.yml
  .github/workflows/post-merge.yml
  .github/workflows/pre-merge-manifest.yaml
  .github/workflows/pre-merge.yml
Labels: CI 🤖

#62 chore: Fix issues in CI workflow
  cluster-agent/VERSION
  common/pkg/protovalidator/validator.go
  node-agent/VERSION
Labels: cluster-agent, common, node-agent

#66 Moving the permissions to be per Job
  .github/workflows/auto-add-labels.yml
  .github/workflows/auto-close.yml
  .github/workflows/auto-update.yml
  .github/workflows/post-merge.yml
  .github/workflows/pre-merge-manifest.yaml
  .github/workflows/pre-merge.yml
Labels: CI 🤖

#69 Chore: Fix some linter findings for Hardware discovery agent
  hardware-discovery-agent/internal/comms/comms.go
  hardware-discovery-agent/internal/comms/comms_test.go
  hardware-discovery-agent/internal/config/config.go
  hardware-discovery-agent/internal/config/config_test.go
  hardware-discovery-agent/internal/cpu/cpu.go
  hardware-discovery-agent/internal/cpu/cpu_test.go
  hardware-discovery-agent/internal/disk/disk.go
  hardware-discovery-agent/internal/disk/disk_test.go
  hardware-discovery-agent/internal/gpu/gpu.go
  hardware-discovery-agent/internal/gpu/gpu_test.go
  hardware-discovery-agent/internal/info/info.go
  hardware-discovery-agent/internal/logger/logger.go
  hardware-discovery-agent/internal/memory/memory.go
  hardware-discovery-agent/internal/memory/memory_test.go
  hardware-discovery-agent/internal/network/network.go
  hardware-discovery-agent/internal/network/network_test.go
  hardware-discovery-agent/internal/system/system.go
  hardware-discovery-agent/internal/system/system_test.go
  hardware-discovery-agent/internal/tool/ethtool.go
  hardware-discovery-agent/internal/usb/usb.go
  hardware-discovery-agent/internal/usb/usb_test.go
  hardware-discovery-agent/internal/utils/command.go
  hardware-discovery-agent/internal/utils/command_test.go
Labels: hardware-discovery-agent

#68 Error on RS token if not HTTP OK
  CHANGELOG.md
  node-agent/VERSION
  node-agent/internal/comms/comms.go
  node-agent/internal/comms/comms_test.go
Labels: root, node-agent

#65 Drop TLS on caddy internal endpoint
  CHANGELOG.md
  node-agent/VERSION
  node-agent/configs/apparmor.d/usr.bin.caddy
  node-agent/configs/containerd.caddy
  node-agent/configs/incron-caddy.conf
  node-agent/configs/node-agent.yaml
  node-agent/configs/pua.caddy
  node-agent/configs/san.conf
  node-agent/configs/san_apt.conf
  node-agent/debian/config
  node-agent/debian/dirs
  node-agent/debian/install
  node-agent/debian/postinst
  node-agent/debian/templates
Labels: root, node-agent

#71 Remove dependency on caddy service for rancher
  CHANGELOG.md
  REUSE.toml
  cluster-agent/VERSION
  cluster-agent/configs/rancher-system-agent.service.d/caddy.conf
  cluster-agent/debian/install
Labels: root, cluster-agent

#74 Release NA 1.7.2 & CA 1.7.1
  cluster-agent/VERSION
  ena-manifest.yaml
  node-agent/VERSION
Labels: root, cluster-agent, node-agent

#72 feat: Add collection of cloud-init service logs
  CHANGELOG.md
  platform-observability-agent/configs/fluent-bit.conf
Labels: root, platform-observability-agent

#75 fix: use makefile expansion not shell
  cluster-agent/Makefile
  common.mk
Labels: CI 🤖, root, cluster-agent

#77 Downgrade forwardProxyUrl to no TLS
  CHANGELOG.md
  ena-manifest.yaml
  platform-update-agent/VERSION
  platform-update-agent/internal/aptmirror/aptmirror.go
  platform-update-agent/internal/aptmirror/aptmirror_test.go
Labels: root, platform-update-agent

#73 chore: Update string to integer conversions in HW Discovery Agent
  hardware-discovery-agent/internal/cpu/cpu.go
  hardware-discovery-agent/internal/network/network.go
  hardware-discovery-agent/internal/usb/usb.go
Labels: hardware-discovery-agent

#58 chore: Add automated upstream PR creation on manifest version update
  .github/workflows/post-merge.yml
  .github/workflows/pre-merge-manifest.yaml
  .github/workflows/pre-merge.yml
Labels: CI 🤖, root

#79 chore: sort zizmor findings
  .github/dependabot.yml
  .github/workflows/post-merge.yml
  .github/workflows/pre-merge-manifest.yaml
  .github/workflows/pre-merge.yml
Labels: CI 🤖

#84 chore: use self hosted update action
  .github/workflows/auto-update.yml
Labels: CI 🤖

#83 feature: Add initial files for new Reporting Agent to build tarballs
  .github/CODEOWNERS
  reporting-agent/Makefile
  reporting-agent/README.md
  reporting-agent/VERSION
  reporting-agent/cmd/reporting-agent.go
  reporting-agent/go.mod
  reporting-agent/go.sum
  reporting-agent/internal/model/model.go
Labels: CI 🤖

#88 chore: Update to dev version
  platform-update-agent/VERSION
Labels: platform-update-agent

#95 fix: use gh_token for github cli
  .github/workflows/post-merge.yml
Labels: CI 🤖

#32 [3.1.0] Improve PUA startup time
  ena-manifest.yaml
  platform-update-agent/VERSION
  platform-update-agent/internal/installer/installer.go
  platform-update-agent/internal/installer/installer_test.go
Labels: root, platform-update-agent, 3.0.1, c-3.0.1
