Repository open-edge-platform/edge-node-agents, pull requests merged in 2025-07, with the labels that each got.

#158 Update CODEOWNERS
  .github/CODEOWNERS
Labels: CI 🤖

#154 Initial commit for Platform Manageability agent
  CHANGELOG.md
  platform-manageability-agent/Makefile
  platform-manageability-agent/README.md
  platform-manageability-agent/VERSION
  platform-manageability-agent/cmd/platform-manageability-agent/platform-manageability-agent.go
  platform-manageability-agent/cmd/platform-manageability-agent/platform-manageability-agent_test.go
  platform-manageability-agent/configs/platform-manageability-agent.yaml
  platform-manageability-agent/debian/changelog
  platform-manageability-agent/debian/control
  platform-manageability-agent/debian/copyright
  platform-manageability-agent/debian/install
  platform-manageability-agent/debian/platform-manageability-agent.service
  platform-manageability-agent/debian/postinst
  platform-manageability-agent/debian/rules
  platform-manageability-agent/debian/source/format
  platform-manageability-agent/go.mod
  platform-manageability-agent/go.sum
  platform-manageability-agent/info/info.go
  platform-manageability-agent/internal/config/config.go
  platform-manageability-agent/internal/logger/logger.go
  platform-manageability-agent/test/test_config.yaml
Labels: root

#156 feat: Add Platform Manageability Agent to manifest file and update CI
  .github/workflows/post-merge.yml
  ena-manifest.yaml
  platform-manageability-agent/VERSION
Labels: CI 🤖, root

#186 chore: Update CI versions
  .github/workflows/auto-update.yml
  .github/workflows/post-merge.yml
  .github/workflows/pre-merge-manifest.yaml
  .github/workflows/pre-merge.yml
Labels: CI 🤖

#187 chore: Update workflows to latest version
  .github/workflows/auto-update.yml
  .github/workflows/post-merge.yml
  .github/workflows/pre-merge-manifest.yaml
  .github/workflows/pre-merge.yml
Labels: CI 🤖

#172 Load mei kernel module and start lms from PMA
  ena-manifest.yaml
  node-agent/VERSION
  node-agent/configs/apparmor.d/opt.edge-node.bin.node-agent
  node-agent/configs/node-agent.yaml
  node-agent/debian/dirs
  platform-manageability-agent/VERSION
  platform-manageability-agent/cmd/platform-manageability-agent/platform-manageability-agent.go
  platform-manageability-agent/configs/platform-manageability-agent.yaml
  platform-manageability-agent/configs/sudoers.d/pm-agent
  platform-manageability-agent/debian/install
  platform-manageability-agent/debian/platform-manageability-agent.service
  platform-manageability-agent/debian/postinst
  platform-manageability-agent/debian/templates
  platform-manageability-agent/internal/utils/utils.go
Labels: root, node-agent
