Repository open-edge-platform/edge-node-agents, pull requests merged in 2025-09, with the labels that each got.

#243 chore: Update orch-ci version to 0.1.48
  .github/workflows/auto-update.yml
  .github/workflows/post-merge.yml
  .github/workflows/pre-merge-manifest.yaml
  .github/workflows/pre-merge.yml
Labels: CI 🤖

#249 Fix proto-validate in common
  common/VERSION
  common/go.mod
  common/go.sum
  common/pkg/protovalidator/validator.go
Labels: common

#266 Update ena-manifest.yaml
  CHANGELOG.md
  ena-manifest.yaml
Labels: root
