Repository open-edge-platform/edge-node-agents, pull requests merged in 2025-04, with the labels that each got.

#18 chore: update Makefile format for unit tests
  .github/workflows/post-merge-workflow.yml
  .github/workflows/post-merge.yml
  .github/workflows/pre-merge-workflow.yml
  .github/workflows/pre-merge.yml
  Makefile
  cluster-agent/Makefile
  cluster-agent/README.md
  cluster-agent/VERSION
  common/Makefile
  common/README.md
  common/VERSION
  hardware-discovery-agent/Makefile
  hardware-discovery-agent/README.md
  hardware-discovery-agent/VERSION
  node-agent/Makefile
  node-agent/README.md
  node-agent/VERSION
  platform-observability-agent/Makefile
  platform-observability-agent/VERSION
  platform-telemetry-agent/Makefile
  platform-telemetry-agent/README.md
  platform-telemetry-agent/VERSION
  platform-update-agent/Makefile
  platform-update-agent/README.md
  platform-update-agent/VERSION
  platform-update-agent/trivy.yaml
Labels: CI 🤖, root, cluster-agent, common, hardware-discovery-agent, node-agent, platform-observability-agent, platform-telemetry-agent, platform-update-agent

#40 Cleanup maintainers
  cluster-agent/debian/changelog
  cluster-agent/debian/control
  common/ci_scripts/manifest-versioning.sh
  hardware-discovery-agent/debian/changelog
  hardware-discovery-agent/debian/control
  node-agent/debian/changelog
  node-agent/debian/control
  platform-observability-agent/debian/changelog
  platform-observability-agent/debian/control
  platform-telemetry-agent/debian/changelog
  platform-telemetry-agent/debian/control
  platform-update-agent/debian/changelog
  platform-update-agent/debian/control
Labels: cluster-agent, common, hardware-discovery-agent, node-agent, platform-observability-agent, platform-telemetry-agent, platform-update-agent

#38 feat: Add contributors file
  CONTRIBUTORS.md
Labels: root

#41 chore: Add LICENSE file to the root
  LICENSE
Labels: root

#42 chore: Bump minor dev version
  CONTRIBUTORS.md
  cluster-agent/VERSION
  common/VERSION
  ena-manifest.yaml
  hardware-discovery-agent/VERSION
  node-agent/VERSION
  platform-observability-agent/VERSION
  platform-telemetry-agent/VERSION
  platform-update-agent/VERSION
Labels: root, cluster-agent, common, hardware-discovery-agent, node-agent, platform-observability-agent, platform-telemetry-agent, platform-update-agent

#34 Fix readiness reporting to NA during cluster install
  CHANGELOG.md
  cluster-agent/VERSION
  cluster-agent/cmd/cluster-agent/cluster-agent.go
  cluster-agent/cmd/cluster-agent/cluster-agent_test.go
  ena-manifest.yaml
Labels: root, cluster-agent

#35 Update release service token handling for anonymous
  CHANGELOG.md
  ena-manifest.yaml
  node-agent/VERSION
  node-agent/internal/comms/comms.go
  node-agent/internal/comms/comms_test.go
Labels: root, node-agent

#43 chore: move post merge to shared workflow
  .github/workflows/post-merge-workflow.yml
  .github/workflows/post-merge.yml
  cluster-agent/Makefile
  common.mk
  common/Makefile
  hardware-discovery-agent/Makefile
  node-agent/Makefile
  platform-observability-agent/Makefile
  platform-telemetry-agent/Makefile
  platform-update-agent/Makefile
Labels: CI 🤖, root, cluster-agent, common, hardware-discovery-agent, node-agent, platform-observability-agent, platform-telemetry-agent, platform-update-agent

#47 chore: Remove unnecessary workflows
  .github/workflows/post-merge-workflow.yml
  .github/workflows/pre-merge-workflow.yml
Labels: CI 🤖
